<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a
        aria-label="Email"
        href="mailto:sonhai.swe@gmail.com"
        gloss="Email"
        ><i class="icon fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a
        aria-label="Resume"
        target="_blank"
        href="/Daniel_Le_resume.pdf"
        gloss="Resume"
        ><i class="icon fa fa-paperclip" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/daniel-le18"
        gloss="LinkedIn"
        ><i class="icon fa fa-linkedin" aria-hidden="true"></i
      ></a>
      <a
        aria-label="Github"
        target="_blank"
        href="https://github.com/daniel-le18"
        gloss="Github"
        ><i class="icon fa fa-github-alt" aria-hidden="true"></i
      ></a>
    </div>

    <div>
    <p style="margin-top:20%;">
        © 2020 -
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        Daniel Le. All Rights Reserved.
      </p>
    </div>

  </div>
</div>
